/* Common Shared Styles
**********************************************************/



body {
    margin: 0px;
    background-image: url(../images/pixel_weave.png)
}

/* Header
**********************************************************/

header {
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
}

.toolbar {
    max-width: 960px;
    margin: 0 auto;
}

h1 {
    color: #ffffff;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    line-height: 100px;
    background-color: #4aaaa5;
    height: 100px;
    width: 240px;
    padding: auto;
    margin: 0;
    display: inline-block;
}

.nav {
    color: #777777;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    text-decoration: none;
    float: right;
    height: 100px;
    line-height: 100px;
    margin: 0 15px;

}

/* Main Content of Page
********************************************************************/

main {
    max-width: 920px;
    margin: 30px auto;
    padding: 0px 20px 20px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
}

h2 {
    font-size: 30px;
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 28px;
    border-bottom: 3px solid #dddddd;
    margin-bottom: 20px;
}

.profile-pic {
    float: left;
    margin: 8px 15px 15px 0;
}

p {
    color: #777777;
    margin-bottom: 23px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 2;
}

.portfolio-box {
    margin: 28px 40px 40px 0;
    position: relative;
    display: inline-block;
}

.portfolio-image {
    height: 250px;
    width: 375px;
}

.text-box {
    background-color: #4aaaa5;
    color: #ffffff;
    width: 375px;
    height: 75px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    line-height: 75px;
    text-align: center;
    position: absolute;
    top: 170px;
}

label {
    color: #777777;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 2;
    font-size: large;
}

.text-input {
    width: 100%;
    height: 25px;
    margin-bottom: 10px;
    border: 1px solid #dddddd;
}

textarea {
    width: 100%;
    border: 1px solid #dddddd;
}

button {
    color: #ffffff;
    background-color: #4aaaa5;
    font-size: large;
    width: 120px;
    height: 40px;
    margin: 15px 0;
    border: none;
   
}
/* Footer
*********************************************/

footer {
    color: #dddddd;
    font-size: small;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    background-color: #666666;
    padding: 35px 20px 10px;
    text-align: center;
    margin-top: 60px;
    border-top: 8px solid #4aaaa5
  }

